html,body,h1,h2,h3,h4,h4,p,div,a,p{
	margin:10;
	padding:50;
}

body{
	background:rgb(252,252,252);
}

body{
	background:rgb(252,252,252);
}

.control{
	height:100px;
	position:relative;
	padding:20px 100px 0;
}
	.control .navbar{background:grey;}

.plot{
	min-height:300px;
}

.control {
	height:100px;
	position:relative;
	padding:20px 100px 0;
}
	.control .navbar{
		background:white;
	}


/*pie-charts*/
.pie-chart .slice line{
	fill:none;
	stroke:rgb(80,80,80);
	stroke-width:1px;
}
.pie-chart .slice .text{
	fill:(80,80,80);
}

/*time-series*/
.time-series .line{
	stroke:rgb(80,80,80);
	fill:none;
	stroke-width:1px;
}
.time-series .area{
	fill-opacity:.1;
}
.time-series .axis-y .tick line{
	stroke:white;
	stroke-width:.5px;
}
.time-series .axis-y .domain{
	display:none;
}

.radial-delay path {
	fill: rgba(200, 0, 0, 0.4);
}
.radial-arrival path {
	fill: rgba(0, 0, 250, 0.4);
}

g .flightLines {
	z-index: 1;
}
/*
.city {
	z-index: -1;
}*/

pre{
  display:none;
  position: fixed;
  left: 30px;
  top:30px;
  }

.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:10px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:10px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-yzt1{background-color:#efefef;vertical-align:top}
.tg .tg-7t59{font-size:18px;background-color:#efefef;text-align:center;vertical-align:top}
.tg .tg-b7b8{background-color:#f9f9f9;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg {
	position: relative;
	left:40px;
}
